# Theory questions:

1.  What are data structures, and why are they important?

Ans:
data structure is a way of organizing, storing, and managing data efficiently to perform operations like retrieval, insertion, deletion, and updating.

Its imp because :

a. Efficient Data Management

b. Optimized Performance

c. Memory Management and Problem Solving



2.  Explain the difference between mutable and immutable data types with examples?

Ans:
Mutable Data Types can be modified after creation without changing their memory location.
eg. list, set, dictionary

Immutable Data Types cannot be modified once created; any modification creates a new object in memory.
eg. string, tuple

3.  What are the main differences between lists and tuples in Python?

Ans:
lists and tuples are both used to store collections of items, but they have key differences in terms of mutability, performance, and usage.

Lists are mutable (can be changed after creation).
Tuples are immutable (cannot be changed after creation).

List can be represented as []
tuple can be represented as ()



4.  Describe how dictionaries store data?

Ans:
A dictionary is an unordered, mutable data structure that stores data as key-value pairs. It allows fast access, insertion, and deletion using hashing.

5.  Why might you use a set instead of a list in Python?

Ans:
A set is often preferred over a list when you need unique elements and fast lookups. While lists are ordered and allow duplicates, sets are unordered, do not allow duplicates, and provide better performance for certain operations.


6.  What is a string in Python, and how is it different from a list?

Ans: A string in Python is a sequence of characters enclosed in single ('), double ("), or triple (''' """) quotes. Strings are immutable, meaning they cannot be modified after creation.

7.  How do tuples ensure data integrity in Python?

Ans: Tuples help maintain data integrity because they are immutable. This means that once a tuple is created, its elements cannot be modified, added, or removed. This immutability prevents accidental changes and ensures data consistency.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans: A hash table (or hash map) is a data structure that stores key-value pairs and allows for fast data retrieval using a process called hashing. It is widely used for implementing dictionaries in Python because of its efficiency in lookups, insertions, and deletions.

9. Can lists contain different data types in Python?

Ans: Yes! In Python, lists can store elements of different data types. Unlike some programming languages that enforce type consistency within arrays, Python lists are heterogeneous, meaning they can contain integers, floats, strings, booleans, objects, other lists, and even functions

10. Explain why strings are immutable in Python?

Ans: Strings are immutable, meaning once a string is created, it cannot be changed. Any modification to a string creates a new string object instead of altering the original.


11.  What advantages do dictionaries offer over lists for certain tasks?

Ans: Dictionaries (dict) and lists (list) are both fundamental data structures.but dictionaries offer several advantages for specific tasks due to their key-value pair structure and hash table implementation.



12.  Describe a scenario where using a tuple would be preferable over a list?

Ans: a software application where certain configuration settings, such as database credentials or API keys, must remain unchanged throughout the program's execution. In this case, using a tuple instead of a list is preferable because tuples are immutable, preventing accidental modifications.

13.  How do sets handle duplicate values in Python?

Ans:sets automatically remove duplicate values when they are created or updated. This is because sets are unordered collections of unique elements, meaning they do not allow duplicates.

14.  How does the “in” keyword work differently for lists and dictionaries?

Ans: The in keyword is used to check for the existence of an element in a collection, list Elements (values) is checked and in dictionary Keys

15. Can you modify the elements of a tuple? Explain why or why not?

Ans: No, you cannot modify the elements of a tuple after it has been created because tuples are immutable

16.  What is a nested dictionary, and give an example of its use case3?

Ans: A nested dictionary is a dictionary that contains another dictionary as its value. This allows data to be organized hierarchically, making it useful for representing structured or complex relationships.

17.  Describe the time complexity of accessing elements in a dictionary?

Ans: Dictionaries in Python use a hash table for storing key-value pairs, which allows for fast lookups. The time complexity depends on whether the key is found or if there are hash collisions.

18. In what situations are lists preferred over dictionaries?

Ans: When the Index-Based Access nedded

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans:
Keys are not stored in a fixed sequence.


20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans: lists used when order & indexing matter.

dictionaries used for quick key-based retrieval.

# Practical Questions

In [ ]:
# 1. Write a code to create a string with your name and print itP

St1="Sonal Maral"
print("My name is:" , St1)

My name is: Sonal Maral

In [ ]:
# 2.  Write a code to find the length of the string "Hello World"

s1="Hello World"
print ("length of the string is:" , len(s1))

length of the string is: 11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"P
s1="Python Programming"
print(s1[0:3])

Pyt

In [1]:
# 4. Write a code to convert the string "hello" to uppercaseP
S1= "hello"
print(S1.upper())

HELLO

In [2]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

love="I like apple"
print ("previous value:"+ love)
print ("New value:" + love.replace('apple' ,'orange'))

previous value:I like apple
New value:I like orange

In [3]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
lis=[1,2,3,4,5]
print (lis)

[1, 2, 3, 4, 5]

In [4]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

list1= [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

In [5]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

list2= [1, 2, 3, 4, 5]
list2.remove(3)
print(" removal no is:" , list2)

 removal no is: [1, 2, 4, 5]

In [6]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list1=['a', 'b', 'c', 'd']
print ("second element in the list is:"  + list1[1])

second element in the list is:b

In [7]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

# option 1:
list1= [10, 20, 30, 40, 50]
list1.reverse()
print ("reverse the list:" , list1)

# option 2:
list1= [10, 20, 30, 40, 50]
print ("reverse the list:" , list1[::-1])

reverse the list: [50, 40, 30, 20, 10]
reverse the list: [50, 40, 30, 20, 10]

In [9]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.


tup=(100,200,300)
print("tuple with the elements" , tup)

tuple with the elements (100, 200, 300)

In [10]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple1=('red', 'green', 'blue', 'yellow')
print (" the second-to-last element of the tuple are:" , tuple1[1:4])

 the second-to-last element of the tuple are: ('green', 'blue', 'yellow')

In [11]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple1= (10, 20, 5, 15)
print ("minimum value in touple is:" , min(tuple1))

minimum value in touple is: 5

In [12]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple1= ('dog', 'cat', 'rabbit')

print ("index of the element 'cat' is:" , tuple1.index('cat'))

index of the element 'cat' is: 1

In [13]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
friut =("apple","banana","orange","kiwi")
print (friut)

print ("kiwi" in friut)

('apple', 'banana', 'orange', 'kiwi')
True

In [17]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

point={'a','b','c'}
print (point)

{'b', 'a', 'c'}

In [18]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set1= {1, 2, 3, 4, 5}
set1.clear()

print (set1)

set()

In [19]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1= {1, 2, 3, 4}

set1.remove(4)

print ("remove the element 4 is:" , set1)

remove the element 4 is: {1, 2, 3}

In [20]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1= {1, 2, 3}
set2=  {3, 4, 5}

print (set1 | set2)

{1, 2, 3, 4, 5}

In [21]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

sets1= {1, 2, 3}
set2= {2, 3, 4}

print (sets1 & set2 )

{2, 3}

In [22]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

dict={"name":"Sonal", "age": 20, "city":"Pune"}

print (dict)

{'name': 'Sonal', 'age': 20, 'city': 'Pune'}

In [23]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict1= {'name': 'John', 'age': 25}

dict1['country'] ="USA"

print ("new key-value pair is;" , dict1)

new key-value pair is; {'name': 'John', 'age': 25, 'country': 'USA'}

In [24]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.


s1={'name': 'Alice', 'age': 30}

print (s1.get('name'))

Alice

In [25]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

d1={'name': 'Bob', 'age': 22, 'city': 'New York'}
del d1['age']
print (d1)

{'name': 'Bob', 'city': 'New York'}

In [27]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

d2={'name': 'Alice', 'city': 'Paris'}
print ('city' in d2)

True

In [28]:
# 26.  Write a code to create a list, a tuple, and a dictionary, and print them

list1 = [1, 2, 3, "apple", "banana"]
tuple1 = (10, 20, 30, "cat", "dog")
dict1 = {'name': 'Alice', 'age': 25, 'city': 'New York'}

print("List:", list1)
print("Tuple:", tuple1)
print("Dictionary:", dict1)

List: [1, 2, 3, 'apple', 'banana']
Tuple: (10, 20, 30, 'cat', 'dog')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [29]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print theresult.(replaced)

list1=[54,1,34,98,56,89,24,65,79,43]

sorted(list1)

[1, 24, 34, 43, 54, 56, 65, 79, 89, 98]

In [30]:
# 28. Write a code to create a list with strings and print the element at the third index.
lsits=["sonal","ramesh","maral","jyoti","roshan"]

print ("element at the third index is:" , lsits[3])

element at the third index is: jyoti

In [31]:
# 29. Write a code to combine two dictionaries into one and print the result.
d1={"name":"sonal" , "location":"delhi", "year": 1999}
d2= {"degree":"eng"}

print ("combine two dictionaries are: " , d1 | d2)

combine two dictionaries are:  {'name': 'sonal', 'location': 'delhi', 'year': 1999, 'degree': 'eng'}

In [32]:
# 30. Write a code to convert a list of strings into a set.
l1= ["sonal","ramesh","maral"]

print (set(l1))

{'ramesh', 'maral', 'sonal'}